<!-- {{videos$ | async | json}} -->

<div class="carousel-container">
  <ngx-slick-carousel class="carousel" 
      #slickModal="slick-carousel" 
      [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of (videos$ | async)" class="slide">
          <img src="{{ slide.thumbURL }}" alt="" width="90%" class="m-auto" (click)="selectVideo(slide)">
          <p class="text-light text-center">{{ slide.name | breakWord}}</p>
        </div>
  </ngx-slick-carousel>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <li class="list-group-item" *ngFor=" let contentz of (videos$ | async)">{{contentz.name}} {{contentz.videoId}}</li> 
    </div>
  </div> 
</div>