<!-- <div class="hero-image-wrapper"><img class="hero static-image image-layer" src="https://occ-0-999-1001.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABT5Yp_L5KYaGsb236N4kG3fm5MZ1a5bHUhh9A9u79i1QN8c_sdNU7t9FfbIh3OQqNbwT-UB_aojOxYNk2cajodAtF6MW.webp?r=d91" alt=""></div> -->
<div class="preview-container">
    <youtube-player
        videoId= "{{ previewService.getVideoPreview()?.videoId }}"
        suggestedQuality="highres"
        [height]="450"
        [width]="810"
        [startSeconds]="43"
        [endSeconds]="60">
    </youtube-player>
  </div>


  <!-- videoId= "dQw4w9WgXcQ" -->